@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);


div.titulos
{
	color: #e74c3c;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	text-align: left;
}

.frm-opt {
	margin:	20px;
}


 .frm-opt .input_txt{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	height: auto;
	text-align: left;

}

.frm-opt .lab{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
}

.frm-opt .control-align
{
	text-align: left;
}

.frm-opt .textarea{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	width: 100%;

}

.frm-opt strong.titulo-prosp
{
	font-size: 20px;
	font-family: 'Helvetica', sans-serif;
}

thead.thead-opt {
	background-color: whitesmoke;
}

th.th-opt{
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: whitesmoke;
}

td.td-opt{
	text-align: center;
	font-family: "Helvetica 35 Thin","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
}

td.td-opt2{
	text-align: center;
	font-family: "Helvetica 35 Thin","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 18px;
}

td.td-contacto{
	font-family: "Helvetica 35 Thin","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
}


td.td-acciones{
	text-align: center;
}

.frm-rv {
	margin:	20px;
}


 .frm-rv .input_txt{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	height: auto;
	text-align: left;

}

.frm-rv .lab{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	
	
}

.frm-rv .control-align
{
	text-align: left;
}

.frm-rv .textarea{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	width: 100%;

}

strong.titulo-prosp
{
	font-size: 20px;
	font-family: 'Helvetica', sans-serif;
}

/* CSS FRM Venta */

.frm-venta {
	margin:	20px;
}


 .frm-venta .input_txt{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	height: auto;
	text-align: left;

}

.frm-venta .lab{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	
	
}

.frm-venta .control-align
{
	text-align: left;
}

.frm-venta .textarea{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	width: 100%;

}

.frm-venta strong.titulo-prosp
{
	font-size: 20px;
	font-family: 'Helvetica', sans-serif;
}

.frm-venta .form-horizontal .controls 
{
	margin-left: 80px;
}

.frm-venta strong.calendario-pagos
{
	font-size: 20px;
	font-family: 'Helvetica', sans-serif;
}

.frm-venta .margen-pagos
{
	margin-bottom: 20px;
}

.frm-venta .lab2{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: right;
}

.frm-venta .margin-input
{
	margin-bottom: 20px;
}
 

