@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

.frm-prosp {
	margin:	20px;
}


 .frm-prosp .input_txt{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	height: auto;
	text-align: left;

}

.frm-prosp .lab{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.tam-icon{
	font-size: 16px;
}

thead.thead-prosp {
	background-color: whitesmoke;
}

th.th-prosp{
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: whitesmoke;
}

td.td-prosp{
	text-align: center;
	font-family: "Helvetica 35 Thin","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
}

td.td-contacto{
	font-family: "Helvetica 35 Thin","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
}


td.td-acciones{
	text-align: center;
}

p .input_txt{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	height: auto;
	text-align: left;

}
