@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(http://fonts.googleapis.com/css?family=Poiret+One|Montserrat+Alternates:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

label.nombre
{
		font-family: "Poiret One",cursive; 
		font-size: 30px;
		color: white;
}

label.puesto
{
		color: white;
		font-family: "Roboto Condensed",sans-serif;  
		font-size: 14px;		
}

label.empresa
{
		color: white;
		font-family: "Roboto Condensed",sans-serif;
		font-size: 30px;		
}
div.bg1
{
	background-color: #51a351;

}

div.margen
{
	margin-top: 10px;
}

div.margen2
{
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

label.datos
{
	color: white;
	font-family: "Roboto Condensed",sans-serif;  
	font-size: 20px;
}

div.bg2
{
	background-color: #0088cc;
	margin-top: 5px;
}

span.titulo
{
	color: white;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 10px;

}

div.bg3
{
	margin-top: 10px;
}

table tr.tr1
{
	background-color: whitesmoke;
	font-family: "Roboto Condensed",sans-serif;
	font-size: 20px;
	text-align: center;  
}

table tr.tr2
{
	text-align: center;
	font-family: "Helvetica 35 Thin","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
}

table tr th.th{
	text-align: center;
}

table tr td.th{
	text-align: center;
}





